body{
margin:0;
font-family:Arial;
color:white;
overflow-x:hidden;
}

/* HOME BACKGROUND */

#home{
background-image:url("hawkins.jpg.webp");
background-size:cover;
background-position:center;
height:100vh;
}

/* UPSIDE DOWN MODE */

.upsideDown{
background-image:url("upside_down.jpg.webp") !important;
}

.overlay{
text-align:center;
padding-top:200px;
background:rgba(0,0,0,0.4);
height:100vh;
}

.title{
font-family:'Creepster',cursive;
font-size:80px;
color:#ff2a2a;
text-shadow:0 0 25px red;
}

.buttons{
margin-top:40px;
}

.btn{
padding:15px 30px;
font-size:18px;
margin:10px;
background:black;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
}

.btn:hover{
background:#ff2a2a;
}

/* CHARACTER PAGE */

.characters-page{
background:black;
text-align:center;
padding:50px;
}

.charTitle{
font-size:50px;
margin-bottom:40px;
}

.character-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
padding:20px;
}

.card{
background:#111;
padding:20px;
border-radius:10px;
transition:0.3s;
}

.card img{
width:100%;
border-radius:10px;
}

.card:hover{
transform:scale(1.05);
}

/* PARTICLES */

#particles{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
}

.particle{
position:absolute;
width:5px;
height:5px;
background:white;
border-radius:50%;
opacity:0.6;
animation:float 10s linear infinite;
}

@keyframes float{

from{transform:translateY(100vh)}
to{transform:translateY(-10vh)}

}